@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Grenze';
  src: url(./fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

:root {
  font-size: 62.5%;
  --squaresize: 5rem;
  --shipborder: 2px solid #0e7490;
}

body {
  padding: 1rem;
  display: grid;
  background-color: #1e1b4b;
  color: white;
  /* background-color: #e0f2fe; */
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
}

header {
  justify-self: center;
  font-size: 5rem;
  margin: 1rem;
  font-family: 'Grenze', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.helpsection {
  position: absolute;
  top: 3rem;
  right: 5%;
  padding: 1rem;
  border-radius: 5px;
  max-width: 33ch;
  line-height: 1.5rem;
  background-color: aliceblue;
  color: black;
}

.help {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  background-color: inherit;
  outline: none;
  border: none;
}

.help:hover {
  cursor: pointer;
  text-decoration: underline;
}

.helpcontent.hidden {
  max-width: 0;
}

.pregame {
  display: grid;
  justify-self: center;
  font-size: 1.5rem;
}

form {
  border: 3px solid #0e7490;
  background-color: #eff6ff;
  color: black;
  border-radius: 5px;
  padding: 1.5rem 5rem;
  margin: 1.5rem;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
  align-items: center;
  min-width: 45vw;
}

.pregametext {
  margin: 1.5rem;
}

select {
  padding: 0.5rem;
  border: 1px snow;
  outline: 1px solid lightblue;
}

#direction {
  grid-column: 2 / 4;
}

.pregametext,
#formbtn {
  grid-column: 1 / 4;
}

#formbtn,
#random {
  position: relative;
  padding: 1.5rem;
  outline: none;
  background-color: #2564ebc6;
  color: white;
  border: none;
  border-radius: 7.5px;
  justify-self: center;
}

#formbtn:active,
#random:active {
  top: 2px;
}

#random {
  margin: 1rem;
}

.result {
  justify-self: center;
  font-size: 2.5rem;
  padding: 1rem;
}

.boards {
  justify-self: center;
  padding: 2rem;
  display: flex;
  text-align: center;
}

section {
  position: absolute;
  left: 30vw;
  transition: all 0.5s;
}

.boardtitle,
.opptitle {
  font-size: 1.5rem;
}

.board,
.oppboard {
  padding: 1rem;
  display: grid;
}

.letters {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.letter {
  place-content: center end;
}
.number {
  display: grid;
  font-size: 1.5rem;
  height: var(--squaresize);
  align-content: center;
}

.letters,
.row,
.opprow {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.square,
.oppsquare {
  height: var(--squaresize);
  width: var(--squaresize);
  background-color: #f8fafc;
  border: 0.5px solid #0c4a6e;
  padding: 0;
  box-shadow: 0px 0px 1px black;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300;
  font-size: calc(var(--squaresize) - 1rem);
}

.shipsquare {
  background-color: #e2e8f0;
  border: none;
}

.horizontal {
  border-top: var(--shipborder);
  border-bottom: var(--shipborder);
}

.vertical {
  border-left: var(--shipborder);
  border-right: var(--shipborder);
}

.horizontalroot {
  border-left: var(--shipborder);
}

.verticalroot {
  border-top: var(--shipborder);
}

.horizontaltail {
  border-right: var(--shipborder);
}

.verticaltail {
  border-bottom: var(--shipborder);
}
.missedsquare::after {
  position: relative;
  top: 10%;
  content: 'X';
  color: rgba(0, 0, 0, 0.5);
}

.player.endgame {
  left: 7vw;
}

.opp.endgame {
  left: 50vw;
}

.hitsquare::after {
  position: relative;
  top: 10%;
  content: 'O';
  color: #ef4444;
}

button:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
}

@media (max-width: 1200px) {
  section {
    left: 25vw;
  }

  .player.endgame {
    left: 3vw;
  }
}

@media (max-width: 1100px) {
  body {
    --squaresize: 4.5rem;
  }

  section {
    left: 20vw;
  }

  .player.endgame {
    left: 20vw;
  }

  .opp.endgame {
    left: 20vw;
    top: max(60vh, 70vw);
  }
}

@media (max-width: 800px) {
  body {
    --squaresize: 2.5rem;
  }

  section {
    left: 15vw;
  }

  .player.endgame {
    left: 15vw;
  }

  .opp.endgame {
    left: 15vw;
    top: max(75vh, 90vw);
  }
}
