@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  display: grid;
}

.title {
  font-size: 3rem;
}

.boards {
  justify-self: center;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  text-align: center;
}

.boardtitle,
.opptitle {
  font-size: 1.5rem;
}

.board,
.oppboard {
  padding: 1rem;
  display: grid;
}

.row,
.opprow {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square,
.oppsquare {
  height: 5rem;
  width: 5rem;
  background-color: white;
  border: none;
  outline: 1px solid black;
}

.shipsquare {
  background-color: lightgray;
  outline: 1px solid lightgray;
}

.missedsquare::after {
  content: 'X';
}

.hitsquare::after {
  content: 'O';
}
