@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  font-size: 62.5%;
  --squaresize: 5rem;
  --shipborder: 2px solid #0e7490;
}

body {
  padding: 1rem;
  display: grid;
}

header {
  justify-self: center;
  font-size: 3rem;
  margin: 1rem;
}

.pregame {
  display: grid;
  justify-self: center;
  font-size: 1.5rem;
}

form {
  border: 3px solid #bae6fd;
  background-color: #f8fafc;
  border-radius: 5px;
  padding: 1.5rem 5rem;
  margin: 1.5rem;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
  align-items: center;
}

select {
  padding: 0.5rem;
  border: 1px snow;
  outline: 1px solid lightblue;
}

#direction {
  grid-column: 2 / 4;
}

#formbtn {
  grid-column: 1 / 4;
}

#formbtn,
#random {
  position: relative;
  padding: 1.5rem;
  outline: none;
  background-color: #2564ebc6;
  border: none;
  border-radius: 10px;
  justify-self: center;
}

#formbtn:active,
#random:active {
  top: 2px;
}

#random {
  margin: 1rem;
}

.boards {
  justify-self: center;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  text-align: center;
}

section {
  position: absolute;
  left: 30vw;
  transition: all 0.5s;
}

.boardtitle,
.opptitle {
  font-size: 1.5rem;
}

.board,
.oppboard {
  padding: 1rem;
  display: grid;
}

.letters {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.letter {
  place-content: center end;
}
.number {
  display: grid;
  font-size: 1.5rem;
  width: var(--squaresize);
  height: var(--squaresize);
  align-content: center;
}

.letters,
.row,
.opprow {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.square,
.oppsquare {
  height: var(--squaresize);
  width: var(--squaresize);
  background-color: white;
  border: 0.5px solid black;
  padding: 0;
}

.shipsquare {
  background-color: #e2e8f0;
  border: none;
}

.horizontal {
  border-top: var(--shipborder);
  border-bottom: var(--shipborder);
}

.vertical {
  border-left: var(--shipborder);
  border-right: var(--shipborder);
}

.horizontalroot {
  border-left: var(--shipborder);
}

.verticalroot {
  border-top: var(--shipborder);
}

.horizontaltail {
  border-right: var(--shipborder);
}

.verticaltail {
  border-bottom: var(--shipborder);
}
.missedsquare::after {
  content: 'X';
}

.hitsquare::after {
  content: 'O';
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 800px) {
  body {
    --squaresize: 2.5rem;
  }

  section {
    left: 15vw;
  }
}

@media (max-width: 1000px) {
  body {
    --squaresize: 4.5rem;
  }

  section {
    left: 20vw;
  }
}

@media (max-width: 1200px) {
  section {
    left: 25vw;
  }
}
